.site-footer {
  position: relative;

  &:before {
    content: '';
    background-image: url('../img/top.svg');
    background-position: -300px 0px;
    background-repeat: no-repeat;
    display: block;
    min-height: 680px;
  }

  .site-footer-cta .absolute {
    top: -28rem;
  }
}
