.sep {
  border-top-width: 3px;
  border-right-widtht: 0px;
  border-bottom-width: 2px;
  border-left-width: 0px;
  border-radius: 5px;
  border-style: solid;
  border-color: inherit;
}

.staged-sep {
  color: var(--brand-peach);

  @extend .sep;
}

.staged-sep:nth-of-type(2) {
  color: var(--brand-yellow);
}

.staged-sep:nth-of-type(3) {
  color: var(--brand-dark-yellow);
}

.staged-sep:nth-of-type(n+4) {
  color: var(--brand-black);
}
