.stepped-testimonial {

  &:before {
      margin-top: -5px;
      border-width: 11px !important;

      @extend .black-20;
    }

    &:after {
      margin-top: -4px;
      border-width: 10px !important;
      color: white;
    }

    img {
      top: 50%;
      margin-top: -2rem;
    }

  &:nth-of-type(2n + 1) {
    transform: rotate(-2deg);

    &:before, &:after {
      @extend .arrow-left;
    }

    &:before {
      left: -22px;
    }

    &:after {
      left: -19px;
    }
    
    img {
      left: -6rem;
    }

  }

  &:nth-of-type(2n) {
    transform: rotate(2deg);

    &:before, &:after {
      @extend .arrow-right;
    }

    &:before {
      right: -22px;
    }

    &:after {
      right: -19px;
    }

    img {
      right: -6rem;
    }

  }

  @media screen and (min-width: 30em) {
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
    }
  }

}
