<div class="w-100 br4 ba pa4 b--black-20 bg-white tc">
  {% unless.avatar != "" %}
    <img src="{{ include.avatar.url }}" class="dn db-ns center h3 w3 br-100 ba b--black-05 bg-brand-yellow" title="Photo of {{ include.headline }}"> 
  {% else %}
    <img src="/assets/img/casestudy-default.png" class="dn db-ns center h3 w3 br-100 ba b--black-05 bg-brand-yellow" title="Casestudy Placeholder"> 
  {% endunless %}
  <h2 class="lh-title f4 strong">{{ include.headline }}</h2>
  {% if include.textline %}
    <p class="brand-dark-gray">{{ include.textline }}</p>
  {% endif %}
  <hr class="sep mw2 brand-mid-gray" />
  <div class="lh-copy brand-dark-gray">{{ include.body|markdownify }}</div>
  {% unless include.url %}
    <a href="{{ include.url }}" title="Check out {{ include.headline }}'s story">See {{ include.headline }}'s story →</a>
  {% endunless %}
</div>
