<div class="w-100 br4 ba pa4 b--black-20 bg-white tc">
  {% if include.avatar != "" %}
    <img src="{{ include.avatar.url }}" class="dn db-ns center h3 w3 br-100 ba b--black-05 bg-brand-yellow" title="Photo of {{ include.headline }}"> 
  {% endif %}
  <h2 class="lh-title f4 strong">{{ include.headline }}</h2>
  {% if textline %}
    <p class="brand-dark-gray">{{ include.textline }}</p>
  {% endif %}
  <hr class="sep mw2 brand-mid-gray" />
  <p class="lh-copy brand-dark-gray">{{ include.body|markdownify }}</p>
  {% if url %}
    <a href="{{ include.url }}" title="Check out {{ include.headline }}'s story">See {{headline}}'s story →</a>
  {% endif %}
</div>
