<footer class="site-footer w-100">
  <div class="site-footer-cta relative center mw9">
    <div class="absolute w-100 ph2">
      {% include tile.html %} 
    </div>
  </div>
  <div class=" bg-brand-green">
    {% if page.footer.cta %}
    <div class="center mw9 pa2 ph4-ns">
      <h2 class="relative mw7 z-2 mb2 f3 f2-m f1-l lh-title white">{{ page.footer.cta.headline }}</h2>
      {% if page.footer.cta.textline %}
        <p class="relative mw7 z-2 f5 f4-l lh-copy ma0 pb2 white">{{ page.footer.cta.textline }}</p>
      {% endif %}
      {% if page.footer.cta..visual %}
      <div class="absolute-ns z-1 right-0 bottom-0">
        
      </div>
      {% endif %}
      {% if page.footer.cta.button %}
        {% assign button = page.footer.cta.button %}
        {% include button.html color=button.color alignment=button.alignment text=button.text url=button.url %}
      {% endif %}
    </div>
    {% endif %}
    <div class="center mw9 ph2 ph4-ns pv2 pv5-l cf">
      <div class="fl-l w-30-l white-40">
        How can I help?
      </div>
      <div class="fl-l w-70-l">
        <hr class="b--white-10" />
      </div>
    </div>
  </div>
</footer>
