<nav class="center w-100 mw9 pt4 pt5-l z-999">
  <div class="ph2 ph4-ns tc tl-l cf">
    <a href="{{ site.url }}" title="Home" class="dib link dim v-top w3 w-auto-ns">
      <img src="/assets/img/logo.png" alt="Homepage" />
    </a>
    <nav class="dn dib-l w-auto pt3">
      <a href="/how-it-works/" title="See how the Idea Inquest works" class="link dim brand-green f4 mh2 mh3-ns">How it works</a>
    </nav>
    <nav class="dn dib-l w-auto pt3 fr-l">
      {% include button.html color="brand-yellow" text="Get started →" url="/get-started/" %}
    </nav>
  </div>
</nav>
