<form action="https://www.getdrip.com/forms/7095925/submissions" method="post" data-drip-embedded-form="7095925" class="o-0" cf-form>
  <div>
    <label for="fields[fname]">Your first name?</label><br />
    <input type="text" name="fields[fname]" cf-questions="Hi there, I'm Roberto. Before we get started, why don't you introduce yourself. What's your first name?" cf-input-placeholder="Enter your first name" value="" />
  </div>
  <div>
    <label for="fields[lname]">Your last name?</label><br />
    <input type="text" name="fields[lname]" cf-questions="Thanks {previous-answer}! And your last name?" cf-input-placeholder="Enter your last name" value="" />
  </div>
  <div>
    <label for="fields['business_type']">Are you a new or existing business?</label>
    <select name="fields[business_type]" cf-questions="Do you have a new idea, or do you need help with an existing business?">
      <option value="new">New idea</option>
      <option value="existing">Existing business</option>
    </select>
  </div>
  <div>
    <label for="fields[start_date]">When are you looking to get started?</label><br />
    <select name="fields[start_date]" cf-questions="Awesome! When are you hoping to start working on your idea?">
      <option value="asap">ASAP</option>
      <option value="1-2 months">1-2 Months</option>
      <option value="3+ months">More than 3 months</option>
    </select>
  </div>
  <div>
    <label for="fields[timeline]">Timeline</label><br />
    <select name="fields[timeline]" cf-questions="What kind of timeline are you expecting for the project?"> 
      <option value="30">30 Days</option>
      <option value="60">2 months</option>
      <option value="90">3 months</option>
      <option value="90+">More than 3 months</option>
    </select>
  </div>
  <div>
    <label for="fields[availability]">Availability</label><br />
    <select name="fields[availability]" cf-questions="Okay, we can work with that. And what kind of work schedule can you commit to?">
      <option value="full-time">Full-time</option>
      <option value="part-time">Part-time</option>
      <option value="after work">After I get off work</option>
      <option value="intermittently">Whenever I get off work</option>
    </select>
  </div>
  <div>
    <label for="fields[budget]">Budget</label><br />
    <select name="fields[budget]" cf-questions="Thanks for the honesty there! This is my last question before you tell me about your idea. What are you expecting to invest in your idea, either from your own pocket or by raising funds?">
      <option value="5k">< 5k</option>
      <option value="15k">5k-15k</option>
      <option value="25k">15k-25k</option>
      <option value="50k">25k-50k</option>
      <option value="50k+">More than 50k</option>
    </select>
  </div>
  <div>
    <label for="fields[idea]">Idea</label><br />
    <textarea name="fields[idea]" cf-questions="Thanks so much. Now tell me a bit about your idea:"></textarea>
  </div>
  <div>
    <label for="fields[email]">Email Address</label><br />
    <input type="email" name="fields[email]" cf-questions="Alright! Lastly, I need your contact info to follow up with you. Chris generally prefers the phone, but will reach out via email to set up a good time to call. So what’s your email address?" cf-error="Please enter a valid email" pattern=".+\@.+\..+" value="" />
  </div>
  <div>
    <label for="fields[phone]">Phone</label><br />
    <input type="phone" name="fields[phone]" cf-questions="Great! And your phone number?" cf-error="Please enter a valid phone number" value="" />
  </div>
  <div>
    <label for="fields[nda]">NDA</label><br />
    <select name="fields[nda]" cf-questions="Awesome! I’ll let get Chris to send you an email to set up a good time to have a call. Would you like me to also send an NDA for the both of us to sign before we share any more information?">
      <option value="true">Yes, send an NDA</option>
      <option value="false">No need</option>
    </select>
  </div>
  <div>
    <input type="submit" name="submit" value="Sign Up" data-drip-attribute="sign-up-button" />
  </div>
</form>
